* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main#home {
  background-color: #1C1C1C;
}
main#home .grid .container {
  max-width: 75%;
  margin: 0 auto;
}
main#home .grid .container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}
main#home .grid .container .row .card {
  width: calc(16.6666666667% - 16.6666666667px);
}
main#home .grid .container .row .card .image {
  width: 100%;
  aspect-ratio: 1;
}
main#home .grid .container .row .card .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main#home .grid .container .row .card .title {
  margin-top: 20px;
  text-transform: uppercase;
  color: white;
}
main#home .main-footer {
  background-color: #0282F9;
}
main#home .main-footer .container {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main#home .main-footer .container .box {
  text-transform: uppercase;
  color: white;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main#home .main-footer .container .box .image {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main#home .main-footer .container .box .image img {
  height: 30%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header .header-top {
  background-color: #0282F9;
  color: white;
}
header .header-top .container {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding: 5px;
  text-transform: uppercase;
}
header .header-bottom .container {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom .container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
}
header .header-bottom .container input::-moz-placeholder {
  float: right;
  margin-right: 10px;
}
header .header-bottom .container input:-ms-input-placeholder {
  float: right;
  margin-right: 10px;
}
header .header-bottom .container input::placeholder {
  float: right;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.jumbotron {
  height: 340px;
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  background-color: lightblue;
}
footer .footer-center .container {
  max-width: 75%;
  margin: 0 auto;
}
footer .footer-center .container .liste {
  border: 1px solid black;
  height: 250px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-center .container .liste ul li.head {
  color: red;
}
footer .footer-center .container .liste ul li.normal a {
  color: green;
}
footer .footer-bottom .container {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}