@import "../general";

footer{
    background-color: lightblue; 
    .footer-center{
        .container{
            @include container;
            .liste{
                border:1px solid black;
                height: 250px;
                width: 50%;
                @include flex-col-start-start;
                flex-wrap: wrap;
                ul{
                    li.head{
                        color: red;
                    }
                    li.normal{
                        a{
                            color: green;
                        }
                    }
                }

            }
        }
    }
    .footer-bottom{
        .container{
            @include container;
            @include flex-row-between-center;
        }
    }
}